body {
      color: darkolivegreen;
      background-color: darkseagreen;
}
h1 {
      color: white; 
      background-color: darkolivegreen;
      font-family: 'Dosis', sans-serif;
}
h2 {
      color: darkolivegreen;
      font-family: 'Dosis', sans-serif;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: darkseagreen;
    }

nav a {color: darkgreen;}
nav {color:darkgreen;}

nav a:hover {background-color: lightgreen;}

div {
    border: 1px solid rgb(11, 39, 8);
    margin: 30px;
    padding: 50px;
    background-color: rgb(103, 124, 104);
    border-radius: 25px;
}

a {color: darkolivegreen;}