body {
      color: darkolivegreen;
      background-color: darkseagreen;
}
h1 {
      color: white; 
      background-color: darkolivegreen;
      font-family: 'Dosis', sans-serif;
}
h2 {
      color: darkolivegreen;
      font-family: 'Dosis', sans-serif;
}

nav {background-color: forestgreen;}

nav a {color:darkgreen;}
nav {color:darkgreen;}

nav a:hover {background-color: lightgreen;}
a {color: darkolivegreen;}